<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Monitoring Coverage</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="/coverage/static/style.css">
<script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>

</head>
<body>

<h1 class="title">📡 Monitoring Coverage</h1>

<div class="container">

<div class="card">
<h3>Input Target</h3>

<textarea id="coords" placeholder="-2.53,106.10"></textarea>

<input type="file" id="excelFile" accept=".xlsx,.xls">

<br>
<button id="btnHitung">Hitung Titik Ukur</button>
<button id="btnMyLoc">Posisi Saya</button>
<button class="secondary" id="btnPanel">Daftar Titik</button>
<button class="danger" id="btnClear">CLEAR</button>

<div style="margin-top:10px">
<b>Status:</b> <span id="status">Belum ada perhitungan</span>
</div>
</div>

<div class="card map-card">
<div id="map"></div>
</div>

</div>

<!-- SIDE PANEL -->

<div id="panel" class="sidepanel">
<h3>Daftar Titik</h3>
<table id="pointTable">
<thead>
<tr>
<th>Client</th>
<th>Freq</th>
<th>Lokasi</th>
</tr>
</thead>
<tbody></tbody>
</table>
</div>

<button class="floating-panel-btn" id="fabPanel">☰</button>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>